#playlist {
	font-family: 'Open Sans';
	#playlist-items {
		
		width: 40%;
		float: right;list-style-type: none;
		text-transform: uppercase;
		margin: 0;
		padding: 0 20px;
		clear: both;
		max-height: 500px;
		overflow: scroll;

		li {
			text-align: left;
			padding: 10px 40px;
			display: block;
			letter-spacing: 2px;
			font-size: 1.7em;

			&:nth-child(even) {
				background-color: rgba(80, 80, 80, 0.6);
			}

			&:nth-child(odd) {
				background-color: rgba(120, 120, 120, 0.8);
			}

			a {
				display: block;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

.cover {
	width: 40%;
	float: right;

	.cover-heading {
		font-weight: 200;
		text-transform: lowercase;
	}
}

.cover-container {
	text-align: left;
}

.number {
	font-size: 3em;
}


#current {
	width: 60%;
	float: left;
	position: absolute;

	.controls {
		// position: fixed;
		// top: 50%;
		// left: calc(30% - 77px);
	}

	& > div.controls.btn-group > button.btn.btn-lg {
		font-size: 4em;
		width: 120px;
		margin-top: 60px;

		&.glyphicon-play {
			padding: 24px 0;
			margin-top: 46px;
			border-radius: 6px;
			background-color: #00A99D;
		}
	}
	#current_info {
		.title {
			font-size: 4em;
			margin: 0;
			// height: 5em;
			// width: 100%;
		}
		.album-art {
			height: 200px;
		}
	}
}
