html,
body {
  height: 100%;
  width: auto;
  background: #000;
  -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

#head {
	background-color:rgba(154,2,63,0.4);
}

.a:hover {
	background-color:rgba(154,2,63,1.0);
}